<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Task</title>
</head>

<body>
     <form action="/" methods="POST">
        Task: <input type="text" name="task"><br>
        Email: <input type="text" name="email"><br>
        Priority <br><input type="radio" name="priority" value="low"/>Low
                 <br><input type="radio" name="priority" value="medium"/>Medium
                 <br><input type="radio" name="priority" value="high"/>High
                 <br><br><input type="submit" value="Submit"/>
    </form>

</body>
</html>