<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove all bocks</title>
</head>
<body>
    <div>
        <a href="{{ url_for('dashboard') }}"> Home</a> |
        <a href="{{ url_for('add_book') }}">Add Book</a> |
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    <fieldset>
        <legend>Clear All Books</legend>
        <form action='/dashboard' method="post">
            <p><b>Would you like to clear the list of books?</b></p>
            <label for="choice">
            <p><input type="radio" name="choice" value="Yes">Yes</p>
            <p><input type="radio" name="choice" value="No">No</p>
            <br><input type="submit" value="Submit">
        </form>
    </fieldset>

</body>
</html>