<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% for user in users %}
            {% for  key, value in user.items() %}
                {% if value.username == request.form['username'] %}
                    <title>Hi {{ value.username }} </title>
                <h1>Hi {{ value.username }}!</h1>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </head>
    <body>
        <table border = 5>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th> Page Count </th>
                <th> Average Rating </th>
            </tr>
            {% for book in books %}
                {% for key, value in book.items() %}
                <tr>
                    <td>{{  value.title  }}</td>
                    <td>{{ value.author }}</td>
                    <td>{{ value['page count'] }}</td>
                    <td>{{ value['average rating'] }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </body>
</html>
